<form id="new-project-form">
  <div>
    <label for="proj-name">Name</label>
    <input type="text" name="proj-name" placeholder="project name goes here" id="proj-name">
  </div>
  <div>
    <label for="proj-description">Description</label>
    <input type="textarea" name="proj-description" placeholder="description goes here" id="proj-description">
  </div>
  <div>
    <label for="proj-duedate">Due Date</label>
    <input type="date" name="proj-date" placeholder="date goes here" id="proj-date"></input>
  </div>
  <div>
    <label for="proj-privacy">Private Project?</label>
    <select name="proj-privacy">
      <option value="1">1</option>
      <option value="2">0</option>
    </select>
  </div>
  <button type="submit">Submit</button>
</form>

