<div class="partial-form">
  <form id="task-form">
    <div>
      <label for="task-name">Name</label>
      <input type="text" name="task-name" placeholder="task name goes here" id="task-name">
    </div>
    <div>
      <label for="task-date">Due Date</label>
      <input type="date" name="task-date" placeholder="date goes here" id="task-date">
    </div>
    <div>
      <label for="task-status">Status</label>
      <select name="task-status">
        <option selected value="Staged">Staged</option>
        <option value="In Progress">In Progress</option>
        <option value="Completed">Completed</option>
      </select>
    </div>
    <div>
      <label for="task-priority">Priority</label>
      <select name="task-priority">
        <option value="Low">Low</option>
        <option selected value="Medium">Medium</option>
        <option value="High">High</option>
      </select>
    </div>
    <div>
      <label for="task-order">Order</label>
      <input type="order" name="task-order" placeholder="we will need to find the length of the array of tasks and place at the end" id="task-order">
    </div>
    <div>
      <label for="task-privacy">Private Task?</label>
      <select name="task-privacy">
        <option value="True">True</option>
        <option selected value="False">False</option>
      </select>
    </div>
    <button type="submit">Submit</button>
  </form>
</div>
